@import '../../index.scss';

header {
  background-color: $secondary-color;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 2rem;
}
button {
  cursor: pointer;
  height: fit-content;
  padding: 0.7rem 2rem;
  color: $primary-color;
  border-radius: 10px;
  border-color: $primary-color;
  background-color: #fff;
}
